.img_bg img{
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* box-shadow: inset 0 0 0 2000px rgba(236, 191, 31, 0.3); */
    width: 100%;
}

